<article>
  <ul>
    <li>
      {% if flag_profile is not True %}
        <a href="{% url 'posts:profile' post.author.username %}" >Автор: {{ post.author.get_full_name }}</a>
      {% else %}
        Автор: {{ post.author.get_full_name }}
      {% endif %}
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
  <p>{{ post.text|linebreaksbr }}</p>
  <a href="{% url 'posts:post_detail' post.pk %}">подробная информация </a> <br>
</article>
{% if flag_group is not True %}
  {% if post.group  %}
    <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
  {% else %}
    <span style='color: red'>Этой публикации нет ни в одном сообществе.</span>
  {% endif %}
{% endif %}
